<app-header></app-header>
<div class="slots-info" *ngIf="!setup">
  <div class="show-info">
    <p>Total slots: {{ slots.totalSlots$ | async }}</p>
    <p>Free slots: {{ slots.totalSlotsAvailabe$ | async }}</p>
  </div>
  <p class="collection">Rs. {{ slots.moneyMade$ | async }} collected</p>
  <div class="get-info">
    <div class="form-action">
      <button
        class="action-button green"
        [disabled]="(slots.totalSlotsAvailabe$ | async) <= 0"
        (click)="addCar = true"
      >
        Park car
      </button>
    </div>
  </div>
</div>
<app-list *ngIf="!setup"></app-list>
<div class="form-container" *ngIf="setup">
  <div class="setup-block">
    <p class="title">Fill in the fields to start</p>
    <form [formGroup]="setupForm">
      <div class="input-wrapper">
        <input
          type="text"
          class="border-input"
          formControlName="totalSlots"
          [ngClass]="{
            error:
              setupForm.controls.totalSlots.touched &&
              setupForm.controls.totalSlots.invalid
          }"
        />
        <label class="label">Total slots available</label>
      </div>
      <div class="input-wrapper">
        <input
          type="text"
          class="border-input"
          formControlName="takenSlots"
          [ngClass]="{
            error:
              setupForm.controls.takenSlots.touched &&
              setupForm.controls.takenSlots.invalid
          }"
        />
        <label class="label">Total slots taken</label>
      </div>
      <div class="form-action">
        <button class="action-button red" (click)="setupForm.reset()">
          Clear
        </button>
        <button
          class="action-button green"
          (click)="startAutomation()"
          [disabled]="setupForm.invalid"
        >
          Start
        </button>
      </div>
    </form>
  </div>
</div>

<app-car-form (closeForm)="addCar = $event" *ngIf="addCar"></app-car-form>
