.form-container {
  min-height: calc(100vh - 52px);
  display: grid;
  place-items: center;
}

.setup-block {
  padding: 1rem;
  border: 2px solid #006380;
  border-radius: 10px;
  min-width: 300px;
}

.slots-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}
.collection {
  font-size: 24px;
  font-weight: bold;
}
